@import url("https://fonts.googleapis.com/css?family=Cabin|Lato:400,700|Open+Sans:400,600,700|Roboto:400,500,700&display=swap");
body {
  position: relative;
  margin: 0 auto;
  background-image: url(../images/Pattern_light.svg);
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body .color-overlay {
  background-color: #1D0C59;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

nav.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.main-nav div.nav-logo > a > img {
  width: 20px;
  padding: 20px;
  margin-left: 40px;
}

nav.main-nav ul.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin-right: 40px;
}

nav.main-nav ul.nav-menu li {
  list-style: none;
  padding: 0 20px 0 20px;
}

nav.main-nav ul.nav-menu li a {
  text-decoration: none;
  color: #E8E9ED;
  font-family: "Cabin", sans-serif;
}

main.main-panel div.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  position: absolute;
  vertical-align: middle;
  width: 80vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main.main-panel div.panel div.profile-img img {
  width: 10vh;
  border: 4px solid #E8E9ED;
  border-radius: 50%;
}

main.main-panel div.panel div.main-info h4.profile-name {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #E8E9ED;
  font-size: 2rem;
  font-size: calc(1em + 1vw);
}

main.main-panel div.panel div.main-info p.profile-info {
  margin: 0;
  color: #E8E9ED;
  font-size: calc(0.6em + 1vw);
}

main.main-panel div.panel div.main-info p.profile-info span {
  opacity: 0.6;
}

main.main-panel div.panel div.divider hr {
  width: 30%;
  border: 1px solid #E1E2E6;
  border-radius: 4px;
}

main.main-panel div.panel div.secondary-info p {
  color: #E1E2E6;
  font-family: "Open Sans", sans-serif;
  font-size: calc(0.6em + 1vw);
}

main.main-panel div.panel div.divider hr.small {
  width: 20%;
  border: 1px solid #E1E2E6;
  border-radius: 4px;
}

main.main-panel div.panel div.presonal-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

main.main-panel div.panel div.presonal-links a.btn-link {
  text-decoration: none;
  color: #E8E9ED;
  border: 2px solid white;
  padding: 5px 20px 5px 20px;
  margin: 0 10px 0 10px;
  border-radius: 50px;
}

main.main-panel div.panel div.presonal-links a.btn-link:hover {
  background-color: #E1E2E6;
  color: #1D0C59;
}

main.main-panel div.panel div.presonal-links div.btn-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

main.main-panel div.panel div.presonal-links div.btn-social a.btn-link {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  div.divider hr.small {
    display: none;
  }
  div.presonal-links {
    display: none;
  }
  div.presonal-links a.btn-link {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */