@import url('https://fonts.googleapis.com/css?family=Cabin|Lato:400,700|Open+Sans:400,600,700|Roboto:400,500,700&display=swap');

$primary-text-color:black;
/*
$primary-color:#1D0C59;
*/
$primary-color:#C7D2CF;
$secondary-color:#E1E2E6;
$lato:'Lato', sans-serif;
$roboto:'Roboto', sans-serif;
$open-sans:'Open Sans', sans-serif;
$cabin:'Cabin', sans-serif;
$inter:'Inter', Sans-serif;
$primary-font:$cabin;
$secondary-font:$open-sans;

a:hover{
	cursor: pointer;
}
body{
    position: relative;
    margin: 0 auto;
    background-image: url(../images/Pattern_light.svg);
    font-family: $secondary-font;
    height: 100vh;
    object-fit: cover;
    .color-overlay{
        background-color: $primary-color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.7;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
}
nav.main-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
	div.param{
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		align-items:center;
		
		span.separator{
			padding:0 10px;
		}
		a{
			color:#3D3D3D;
		}
		a:hover{
			color:black;
		}
		a.lang{
			text-decoration:none;
			font-family:$inter;
			font-weight:bold;
		}
	}
    
    ul.nav-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-right: 40px;
        li{
            list-style: none;
            padding: 0 10px 0 10px;
            a{
                text-decoration: none;
                color:#616161;
            }
            a:hover{
                color:black;
            }
        }
    }
}
nav.main-nav.container {
	padding: 3% 10%;
}
div.wrapper{
	display:flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content: space-around;
	align-items:flex-start;
	height: 100vh;
	div.main-panel{
		    width: 50vw;
		    height: 100vh;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
	    div.panel{
	        display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            text-align: center;

	        div.profile-img{
	            img{
	                width: 10vh;
	                border: 6px solid #616161;
	                border-radius: 50%;
	            }
	        }
	        
	        div.main-info{
	            h4.profile-name{
	            	margin:0;
	                font-family: 'Epilogue', sans-serif;
	                font-weight: bold;
	                color: #3D3D3D;
	                font-size: 1.5rem;
	            }
	        }
	        
	        div.secondary-info{
	            p{
	                color: #3D3D3D;
	                font-size:1.1rem;
	                font-family: $inter;
	            }
	        }
	        div.languages-info{
	        	margin-top:8vh;
	        	div.cards-wrapper{
	        		display:flex;
		        	flex-direction: row;
		        	justify-content:space-between;
		        	align-items:center;
	        		div.cards{
	        			display:flex;
		        		flex-direction: row;
		        		justify-content:space-around;
		        		align-items:center;
		        		div.p-card{
		        			padding:4%;
		        			img.p-card-img {
		        			    width: 4rem;
		        			}
		        			img.edu{
		        				width:6rem;
		        			}
		        			p.p-card-lvl{
		        				font-family:$inter;
		        				font-weight:bold;
		        			}
		        		}
	        		}
	        		
	        	}
	        }
	       
	        #info-title{
   	        	font-family: 'Epilogue', sans-serif;
                font-weight: bold;
                color: #3D3D3D;
                font-size: 1.5rem;
                margin-bottom: 8px;
   	        }
	     
	    }
	    nav.bottom-nav{
	    	margin: 0 10%;
	    	bottom: 0;
	    	ul.nav{
	    		    display: flex;
				    flex-direction: row;
				    justify-content: space-around;
				    align-items: center;
				    background-color: #C7D2CF;
				    border-radius: 40px;
					padding: 10px 0;
				    margin-bottom: 10%;
	    		li{
	    			list-style:none;
	    			padding: 0.5rem 1rem;
	    			border-radius: 30px;
	    			a{
	    				text-decoration:none;
	    				font-family:$inter;
	    				font-weight:bold;
	    				color: #3D3D3D;
	    			}
	    		}
	    		li:hover{
	    			background-color:white;
	    		}
	    	}
	    }
	}
	div.blog-panel{
		width: 50vw;
	    height: 100vh;
	    background-color: #C7D2CF;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;

	    h4.blog-header{
	    	font-family: 'Epilogue', sans-serif;
	    	margin:0;
	    	color: #3D3D3D;
	    }
	    .blog-panel-content{
	    	display:flex;
	    	flex-flow:column nowrap;
	    	align-items:center;
	    	.blog-no-content-img{
	    		width:20vw;
	    	}
	    }
	    h1.nodata{
	    	color: #3D3D3D;
	    	text-align:center;
	    }
	}
}

div.container{
	margin:5% 10%;
}
.active{
	background-color:white;
}

.hide_blog{
	width: 0;
    height: 0;
    background-color: #C7D2CF;
    display: none;
}

#cv_btn_phone{
	display: none;
}

@media only screen and (max-width:767px){
    
    div.wrapper div.blog-panel {
    	display: none;
	}
	div.wrapper div.main-panel nav.bottom-nav {
    	display: none;
	}
	div.wrapper div.main-panel {
		display: block;
    	width: 100vw;
	}
	div.wrapper div.main-panel div.panel div.languages-info div.cards-wrapper {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    align-items: center;
	}
	nav.main-nav ul.nav-menu {
	    margin-right: 0;
	}
	#cv_btn_phone{
		display: block;
		font-family: "Epilogue", sans-serif;
		text-align: center;
		background-color: #3D3D3D;
		color: white;
		text-decoration: none;
		padding: 20px 10px
	}

}

#prev, #next {
  	cursor: pointer;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}